<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink=''>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='afterviewinit'>ngAfterViewInit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='vc'>@ViewChild()</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='render'>Renderer2 et @ViewChild()</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='tuto'>Autre tuto @ViewChild()</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
